
<% if @option_group %>
	<div class="field">
		<label for="item_id">Option Group Quantity</label>
		<%= text_field :discount_group_part, :option_group_quantity %>
		<span class="red">*</span>
	</div>
<% end %>
