<div class="title"><%= @title %></div>

<div class="spacer">
	An email has been sent to <%= @email %>. Please click on the link within the email to change your password.
</div>

<div class="actions">		
	<% primaryButton do %>
		<%= button_to_function "Close", "hidePopup();" %>
	<% end %>
</div>
