
<script type="text/javascript">
	jQuery(document).ready(function() {	
		if (jQuery("#ajaxCallMade").val() == "true") {

   			var loadingMsg = '<div class="loading"><div class="loading_image"><input type="image" src="/images/loading.gif"></div><div class="loading_label">Loading Specials...</div></div>';
			jQuery("#specialsList").html(loadingMsg);

			<%= remote_function :url=> {
					:controller => 'special', :action => "refreshSpecials"
				},
				:update => "specialsList" %>
		
		}
	})
</script>
